NEXT_PUBLIC_SUPABASE_URL=https://wlaeqphgbujgjplahuuy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsYWVxcGhnYnVqZ2pwbGFodXV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5MzY5MjYsImV4cCI6MjA5NjUxMjkyNn0.YPHuGuY5YJIW_8KzefnZcukQWYsYjkrLnnvA4H5Ccrw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndsYWVxcGhnYnVqZ2pwbGFodXV5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDkzNjkyNiwiZXhwIjoyMDk2NTEyOTI2fQ.C983sf3D_MNfN8p4o8pxPXEgb2P31rYsR5OamRI9G9g
ADMIN_EMAILS=johnston.gene@gmail.com;admin@skinroadmap.com;kimberly@skinroadmap.com;dan@skinroadmap.com
